{
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,
   "trailingComma": "all",
   "overrides": [
      {
         "files": [
            "*.json",
            ".prettierrc",
            ".eslintrc",
            ".babelrc"
         ],
         "options": {
            "tabWidth": 2
         }
      }
   ]
}
